body {
  background-image: url(../images/ridehome3-04.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  padding: 0 60px;
  color: #fff;
}

div.ridehome {
  position:absolute;
  left: 25%;
  top: 20%;

  width: 600px;
  height: 200px;
}
